<td width="20%"><%= nama %></td>
<td width="60%">
	<form>
	    <textarea><%= komentar %></textarea>
	</form>
	<span>
	    <%= komentar %>
	</span>
</td>
<td width="20%"><input type="button" class="btn" value="Hapus" id="hapuskomen"></td>